apiVersion: v1
kind: Service
metadata:
  name: taskmaster-service
  namespace: default
  labels:
    app: taskmaster
spec:
  type: NodePort
  selector:
    app: taskmaster
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080
      protocol: TCP
    - name: management
      port: 8081
      targetPort: 8081
      nodePort: 30081
      protocol: TCP